.home-container {
  width: 100%;
  min-height: 100vh;
  background: white;
  padding: 20px;
  color: black;
}

.home-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 22px;
  color: #663399;
}

.home-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: white;
  box-shadow: 0 4px 8px rgba(175, 128, 255, 0.2);
  border-radius: 10px;
}

.create-button {
  padding: 0.6rem 1.2rem;
  background: white;
  color: #663399;
  border: 2px solid #af80ff;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}

.create-button:hover {
  background: #af80ff;
  color: white;
  box-shadow: 0 0 12px rgba(175, 128, 255, 0.4);
}
